<h4>Checkout Page</h4>

  <ul>

  </ul>

  <%= form_for @order do |f| %>
    <%= f.label :street %>
    <br>
    <%= f.text_field :street %>
    <br>
    <%= f.label :city %>
    <br>
    <%= f.text_field :city %>
    <br>
    <%= f.label :state %>
    <br>
    <%= f.text_field :state %>
    <br>
    <%= f.label :zip %>
    <br>
    <%= f.text_field :zip %>
    <br>
    <%= f.submit %>

  <% end %>
