<h4><%= @product.name %></h4>
  <% @product.images.each do |i| %>
    <img src=<%= i[:image_url] %> alt="image" height="500" width="500">
  <% end %>
  <% @product.description%>
  <br>
  $<%= @product.price.round(2) %>
  Shipping Time: <%= @product.shipping_time %>
  <%= form_tag carts_path do %>
    <%= hidden_field_tag :id, @product.id %>
    <%= submit_tag "Add to Cart" %>
  <% end %>
